.accordion-group {
  margin-bottom: 5px !important;
  padding: 8px 15px;
  cursor: pointer;
}

.error {
  background-color: #852128;
  color: #FFF;
}

.info {
  background-color: #EDF0EF;
}

.warning {
  background-color: #E8E889;
}

h2 small {
  display: block;
  font-size: 12px;
}

.span3 p, .span3 .warning {
  margin: 16px !important;
  display: block;
}

.seperator {
  display: inline-block;
  border-right: solid 1px #FFF;
  margin:0 20px;
  opacity: 0.4;
}

.subdetails {
  display:none;
}

.chain-visualizer {
  list-style: none;
}

.chain-visualizer li {
  text-align: center;
}

.chain-visualizer li a {
  cursor: default;
}

.behaviors-li {
  word-wrap: break-word;
}

hr {
  margin: 5px 0px !important;
  clear: both;
}